# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS metadata
._*
.Spotlight-V100
.Trashes
.fseventsd

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.html
fastlane/test_output/

# Environment / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo


# Additionall stuffos si si
heat_results.png
